/*--- Navigation.css ---*/ 

.bookmarks-box {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    object-fit: contain;
    text-align: left;
    height: 80px;
    left: 20px;
    width: 510px;
}

.bookmark {
    margin: 1px;
    height: 80px;
    width: 100px;
    border-radius: 1px;
    text-align: center;
    color: black;
    transition: 0.3s;
    clip-path: polygon(50% 30%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.mark-icon {
    padding-top: 20px;
}

/* Mainpage Bookmark CSS */
.main-mark {
    background-color: #9092ff;
}

.main-mark:hover, .main-mark:focus {
    color: white;
    background-color: #4648bd; 
}

/* Check-In Bookmark CSS */
.check-in-mark {
    background-color: #58c8a2;
}

.check-in-mark:hover, .check-in-mark:focus {
    color: white;
    background-color: #006646; 
}

/* Inventory Bookmark CSS */
.inventory-mark {
    background-color: #fa9c43;
}

.inventory-mark:hover, .inventory-mark:focus {
    color: white;
    background-color: #e06c00; 
}

/* Skill List Bookmark CSS */
.skill-list-mark {
    background-color: #f3697b;
}

.skill-list-mark:hover, .skill-list-mark:focus {
    color: white;
    background-color: #a02e47; 
}

/* Store Bookmark CSS */
.resume-mark {
    background-color: #31cce0;
}

.resume-mark:hover, .resume-mark:focus {
    color: white;
    background-color: #055863; 
}

.active, .active:hover, .active:focus {
    clip-path: polygon(50% 80%, 100% 50%, 100% 100%, 0 100%, 0 50%);
    color: rgba(0, 0, 0, 0);
}