node_modules/
npm-debug.log
yarn-error.log

.env

logs
*.log

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.nyc_output

.grunt

bower_components

.idea/
.vscode/*.swp
*.swo
.DS_Store

.DS_Store?
._*
.Spotlight-V100