.bookmarks-box {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    object-fit: contain;
    text-align: left;
    height: 80px;
    left: 20px;
    width: 510px;
}

.bookmark {
    margin: 1px;
    height: 80px;
    width: 100px;
    border-radius: 1px;
    text-align: center;
    color: white;
    transition: 0.3s;
    clip-path: polygon(50% 30%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.mark-icon {
    padding-top: 20px;
}

.active {
    clip-path: polygon(50% 80%, 100% 50%, 100% 100%, 0 100%, 0 50%);
    color: rgba(0, 0, 0, 0);
}

/* Mainpage Bookmark CSS */
.main-mark {
    background-color: rgb(65, 52, 182);
}

.main-mark:hover {
    background-color: rgb(44, 35, 122); 
}
/* --------------- */

/* Check-In Bookmark CSS */
.check-in-mark {
    background-color: rgb(67, 153, 124);
}

.check-in-mark:hover {
    background-color: rgb(57, 128, 103); 
}
/* --------------- */

/* Inventory Bookmark CSS */
.inventory-mark {
    background-color: rgb(224, 152, 42);
}

.inventory-mark:hover {
    background-color: rgb(175, 118, 31); 
}
/* --------------- */

/* Skill List Bookmark CSS */
.skill-list-mark {
    background-color: rgb(206, 69, 99);
}

.skill-list-mark:hover {
    background-color: rgb(170, 59, 83); 
}
/* --------------- */

/* Store Bookmark CSS */
.resume-mark {
    background-color: rgb(49, 204, 224);
}

.resume-mark:hover {
    background-color: rgb(40, 165, 182); 
}
/* --------------- */