.type-header {
      padding: 0px;
      margin: 0px;
}
.storage-div {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    gap: 2px;
    box-sizing: border-box;
    justify-content: space-evenly;
    justify-items: center;
    overflow-x: auto;
}

.item {
    height: 85%;
    width: 93%;
    transition: .15s;
}

.item:hover, .item:focus {
    border: 0.5em solid #ffb74a;
}

.item-img {
    height: 100%;
    width: 100%;
}