/*--- ConnectButton.css ---*/ 

.connect-button {
    background: #fff;
    color: black;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.connect-button:hover, .connect-button:focus {
    background: transparent;
    color: white;
    outline: 1px solid #fff;
    text-shadow: 0 0 10px black;
    -moz-text-shadow: 0 0 10px black;
    -webkit-text-shadow: 0 0 10px black;
}