/* CheckInForm.css */

.check-form-holder {
  min-width: 570px;
  height: 700px;
  overflow-y: auto;
}

.check-in-form {
  margin: 10px;
  margin-top: 0px;
  padding: 2px;
  border-radius: 10px;
  background-color: #dfdfdf;
}

.entry {
  margin: 10px;
  padding: 20px;
  padding-top: 5px;
  border-radius: 10px;
  background-color: #fdfdfd;
}

.input-box {
  border: 1px solid #e6e6e6;
  background-color: #f1f1f1;
  color: #555555;
  font-size: 16px;
  border-radius: 13px;
  padding: 10px 30px 9px 22px;
  margin-bottom: 10px;
}

.input-label {
  color: #393939;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
}

.quest-select {
  display: block;
  line-height: 1.2;
  background-color: transparent;
  color: #555555;
  border: none;
  font-size: 16px;
}

.quest-complete-button {
  background: #f3f3f3;
  color: black;
  margin: 2px;
  border: none;
  border-radius: 5px;
  outline: 1px solid #000000;
  font-weight: 600;
  line-height: 28px;
  cursor: pointer;
  transition-duration: .15s;
}

.yes:hover, .yes:focus {
  background: rgb(124, 253, 152)
}

.no:hover, .no:focus {
  background: rgb(253, 124, 124);
}

.form-footer {
  text-align: right;
}

.delete-button {
  height: 25px;
  width: 25px;
  margin: -20px;
  margin-bottom: 2px;
  padding: 1px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  color: black;
  font-weight: 300;
  font-size: larger;
  line-height: 20px;
  transition-duration: .15s;
}

.form-footer-button {
  background: #f3f3f3;
  color: black;
  margin: 2px;
  border: none;
  border-radius: 5px;
  outline: 1px solid #000000;
  font-weight: 600;
  line-height: 28px;
  cursor: pointer;
  transition-duration: .15s;
}

.submit {
  margin-left: 5px;
  margin-right: 10px;
}

.submit:hover, .submit:focus {
  background: rgb(124, 253, 152)
}