
.oQuests-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1px;
    gap: 5px;
}
  
.oQuest-item {
    margin: 2px;
}

.oQuests {
    text-align: center;
    width: 100%
    height: 50%;
}

.oQImg {
    max-width: 55%;
    max-height: auto;
}

.block-button {
  border: 2px solid black;
  border-radius: 25px;
  background-color: #f3f3f3;
}

.block-button:hover {
  border-radius: 25px;
  background-color: #d4d4d4;
  cursor: pointer;
}

.block-button:active {
  border-radius: 30px;
  background-color: #f3f3f3;
}

.o-quest-footer {
  text-align: right;
}

.modal-footer-button {
  margin: 2px;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  background: #f3f3f3;
  font-weight: 600;
  line-height: 28px;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.quit:hover{
  background: rgb(253, 124, 124);
}

.complete:hover{
  background: rgb(124, 253, 152);
}



