/*--- OngoingQuests.css ---*/ 

.o-quests {
    height: 90%;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.o-quest-h2 {
    height: 5%;
    text-decoration: underline;
    margin: 10px;
    text-align: center;
}

.o-quests-container {
    height: 140%;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1px;
    gap: 5px;
}
  
.o-quest-item {
    margin: 2px;
}

.oq-img {
    max-width: 55%;
    max-height: auto;
}

.block-button {
    border: 2px solid black;
    border-radius: 25px;
    background-color: #f3f3f3;
    min-height: 50%;
    max-width: fit-content;
    transition-duration: .15s;
}

.block-button:hover, .block-button:focus {
    border-radius: 25px;
    background-color: #d4d4d4;
    cursor: pointer;
}

.block-button:active {
    border-radius: 30px;
    background-color: #f3f3f3;
}

.o-quest-footer {
    text-align: right;
}

.quit:hover, .quit:focus {
    background: rgb(253, 124, 124);
}

.complete:hover, .complete:focus {
    background: rgb(124, 253, 152);
}



