/*--- Header.css ---*/ 

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    min-width: 1180px;
    height: 75px;
}
  
.header-pane {
    margin: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.settings-and-admin {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: left;
    padding: 15px;
    padding-top: 5px;
}
  
  