/*--- Header.css ---*/ 

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    min-width: 1180px;
    height: 75px;
}
  
.header-pane {
    margin: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.settings-and-admin {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: left;
    padding: 15px;
    padding-top: 5px;
}
  
.settings-button, .admin-button {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #f3f3f3;
    text-decoration: none;
    color: black;
    padding: .2em;
    font-size: 10pt;
    text-align: center;
    min-width: 4em;
}

.settings-button:hover, .settings-button:focus,
.admin-button:hover, .admin-button:focus {
    background-color: #d4d4d4;
    cursor: pointer;
}