
.questBoard {
    text-align: center;
    height: 97%;
}

.qBoard-container {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin: 5px;
    height: 83%;
    gap: 23px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.row-button {
    border: solid black;
    border-radius: 30px;
    background-color: #f3f3f3;
}

.row-button:hover {
    border-radius: 30px;
    background-color: #d4d4d4;
    cursor: pointer;
}

.row-button:active {
    border-radius: 30px;
    background-color: #f3f3f3;
}

.q-board-row {
    display: grid;
    grid-template-columns: 15% 85%;
}
  
.qBoard-item {
    padding-left: 1px;
    text-align: left;
    white-space: pre;
}
  
.q-desc {
    margin: 10px;
}

.qImg {
    max-width: 115px;
    max-height: auto;
}
  
.tag {
    background-color: #bbcff5;
    border-radius: 15px;
    padding: 5px;
    margin: 2px;
    white-space: nowrap;
}

.quest-footer {
    text-align: right;
}
  
.modal-footer-button {
    margin: 2px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    background: #f3f3f3;
    font-weight: 600;
    line-height: 28px;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
  
.close:hover{
    background: rgb(253, 124, 124);
}
  
.save:hover{
    background: rgb(124, 253, 152);
}