/*--- QuestBoard.css ---*/ 

.questBoard {
    text-align: center;
    height: 97%;
}

.qBoard-container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    margin: 5px;
    height: 83%;
    gap: 23px;
}

.row-button {
    border: 2px solid black;
    border-radius: 25px;
    background-color: #f3f3f3;
}

.row-button:hover, .row-button:focus {
    border-radius: 25px;
    background-color: #d4d4d4;
    cursor: pointer;
}

.row-button:active {
    border-radius: 30px;
    background-color: #f3f3f3;
}

.q-board-row {
    display: grid;
    grid-template-columns: 15% 85%;
}
  
.qBoard-item {
    padding-left: 1px;
    text-align: left;
    white-space: pre;
}
  
.q-desc {
    margin: 10px;
}

.qImg {
    max-width: 115px;
    max-height: auto;
}
  
.tag {
    background-color: rgb(145, 161, 255);
    border-radius: 15px;
    padding: 5px;
    margin: 2px;
    white-space: nowrap;
}

.quest-footer {
    text-align: right;
}
  
.accept:hover, .accept:focus {
    background: #7cfd98;
}