/*--- LogoutButton.css ---*/ 

.logout-button {
    height: 20px;
    background: #d5d3df;
    color: black;
    margin: 2px;
    margin-bottom: 12px;
    margin-right: -10px;
    border: none;
    border-radius: 5px;
    align-self: end;
    font-weight: 600;
    cursor: pointer;
    transition-duration: .15s;
}

.logout-button:hover, .logout-button:focus {
    background: rgb(253, 124, 124);
}