/*--- App.css ---*/ 

.pane-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #862525;
  padding: 1px;
  margin-top: 70px;
  border-radius: 10px;
}

.pane-item {
  background-color: #ecdec9;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}

.pane-2-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1px;
}

.pane-2-item {
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}

.oQuests-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1px;
}

.oQuest-item {
  padding: 20px;
  margin: 2px;
  border: solid black;
  border-radius: 15px;
}

.qBoard-container {
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 1px;
}

.qBoard-item {
  padding: 20px;
  padding-left: 1px;
  margin: 2px;
  border-radius: 15px;
  text-align: left;
}

.sGraph {
  text-align: center;
  object-fit: contain;
}

.userBar {
  text-align: center;
  object-fit: contain;
}

progress {
  accent-color: rgb(173, 130, 255);
}

.oQuests {
  text-align: center;
}

.oQImg {
  max-width: 70px;
  max-height: auto;
}

.questBoard {
  text-align: center;
}

.qImg {
  max-width: 115px;
  max-height: auto;
}

.tag {
  background-color: #bbcff5;
  border-radius: 15px;
  padding: 5px;
  margin: 2px;
}

.disabled-link {
  pointer-events: none;
}