/*--- App.css ---*/ 

.top {
  display: grid;
  grid-template-columns: 50% 50%;
  min-width: 1180px;
  height: 75px;
}

.topPane {
  margin: 5px;
}

.pane-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #862525;
  padding: 1px;
  border-radius: 10px;
  min-width: 1180px;
  height: 848px;
}

.pane-item {
  background-color: #ecdec9;
  padding: 1px;
  margin: 10px;
  border-radius: 15px;
  min-width: 550px;
  min-height: 550px;
}

.disabled-link {
  pointer-events: none;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  width: 50%;
  padding: 5px;
  text-align: center;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
