/*--- App.css ---*/ 

.top {
  display: grid;
  grid-template-columns: 50% 50%;
  min-width: 1180px;
  height: 75px;
}

.topPane {
  margin: 5px;
}

.pane-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #862525;
  padding: 1px;
  border-radius: 10px;
  min-width: 1180px;
  height: 848px;
}

.pane-item {
  background-color: #ecdec9;
  padding: 1px;
  margin: 10px;
  border-radius: 15px;
  min-width: 550px;
  min-height: 550px;
}

.disabled-link {
  pointer-events: none;
}

