
.pane-2-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1px;
    margin-top: -70px;
    width: 100%;
    height: 53%;
    justify-content: flex-end;
    background-color: aquamarine;
}
  
.pane-2-item {
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    
    background-color: rgb(211, 142, 224);
}