.page-header {
    text-align: center;
}

.schedule-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
}

.freq-footer {
    text-align: right;
}
  
.save:hover{
    background: rgb(124, 253, 152);
}
