.header {
    text-align: center;
}

.schedule-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
}

.freq-footer {
    text-align: right;
}
  
.modal-footer-button {
    margin: 2px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    background: #f3f3f3;
    font-weight: 600;
    line-height: 28px;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
  
.save:hover{
    background: rgb(124, 253, 152);
}
